<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading" class="task-board-container">
  <h1 class="task-board-heading">Task Boards</h1>
  
  <div class="d-flex justify-content-center">
    <button mat-button class="add-board-button mat-raised-button mat-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Board
    </button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Board</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="boardForm" (ngSubmit)="onAddBoard()">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" placeholder="Board Title">
              <mat-error *ngIf="boardForm.get('title')?.invalid && boardForm.get('title')?.touched">
                Title is required.
              </mat-error>
            </mat-form-field>
            <button mat-button type="submit">Add Board</button>
          </form>
        </div>
      </div>
    </div>
  </div>  

  <div class="board-list">
    <div class="board" *ngFor="let board of boards" 
         [cdkDropListData]="board.tasks" 
         cdkDropList 
         [id]="board._id!" 
         (cdkDropListDropped)="onDrop($event)">
      
      <button class="btn text-danger" (click)="deleteBoard(board._id)">
        <mat-icon>delete</mat-icon>
      </button> 
      
      <button class="btn" (click)="navigateToTasks(board._id)">
        <h3>{{ board.title }}</h3>
      </button>
      
      <div *ngFor="let task of board.tasks" cdkDrag class="task">
        {{ task.title }}
      </div>
    </div>
  </div>
</div>
